<div class="content-titles">
  <h1 class="fw-bold mb-2 custom-title">Certificados gerados</h1>
  <p class="mb-4 custom-subtitle">Visualize todos os gerados</p>
</div>

@if (certificados.length == 0) {
  <div class="custom-card">
    <svg class="certificate-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
      <rect width="256" height="256" fill="none" />
      <line
        x1="72"
        y1="136"
        x2="120"
        y2="136"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
      />
      <line
        x1="72"
        y1="104"
        x2="120"
        y2="104"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
      />
      <circle
        cx="196"
        cy="124"
        r="44"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
      />
      <path
        d="M168,192H40a8,8,0,0,1-8-8V56a8,8,0,0,1,8-8H216a8,8,0,0,1,8,8V90.06"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
      />
      <polyline
        points="168 157.94 168 224 196 208 224 224 224 157.94"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
      />
    </svg>

    <div class="custom-warning-titles">
      <h3>Nenhum certificado gerado</h3>
      <p>Gere certificados para consultar o histórico</p>
    </div>

    <app-secondary-button
      textButton="Gerar certificado"
      routerLink="certificado/cadastrar"
    ></app-secondary-button>
  </div>
} @else if (certificados.length > 0) {
  <ul class="lista-certificados">
    @for (certificado of certificados; track $index) {
      <app-item-certificado
        [name]="certificado.name"
        [data]="certificado.issueDate"
        [id]="certificado.id"
      ></app-item-certificado>
    }
  </ul>
}
