<div class="content-titles">
  <h1 class="fw-bold custom-title">Geração de certificado</h1>
  <p class="mb-4 custom-subtitle">Preencha os campos para gerar um novo certificado</p>
</div>

<form #form="ngForm" novalidate class="custom-card">
  <fieldset>
    <legend class="form-title">Novo certificado</legend>

    <div class="mb-3">
      <label for="" class="form-label custom-label">Nome</label>
      <input
        #nameRef="ngModel"
        [(ngModel)]="name"
        name="name"
        maxlength="150"
        type="text"
        class="form-control custom-input"
        placeholder="Digite o nome completo do aluno"
        required
      />

      @if (isNotValidField(nameRef)) {
        <div class="input-error">
          <i class="ph ph-warning-circle"></i>
          <p>O nome do aluno é obrigatório</p>
        </div>
      }
    </div>

    <div class="mb-3 d-flex align-items-end">
      <div class="flex-grow-1 me-2">
        <label for="" class="form-label custom-label">Atividade</label>
        <input
          #activityRef="ngModel"
          [(ngModel)]="activity"
          name="activity"
          maxlength="50"
          type="text"
          class="form-control custom-input"
          placeholder="Digite o título da atividade"
          required
        />

        @if (isNotValidField(activityRef) && activities.length == 0) {
          <div class="input-error">
            <i class="ph ph-warning-circle"></i>
            <p>O nome da atividade é obrigatório</p>
          </div>
        }
      </div>
      <app-secondary-button
        textButton="Adicionar"
        phClass="ph ph-plus"
        (click)="addActivity()"
        [disabled]="activity.length == 0"
        [ngStyle]="
          isNotValidField(activityRef) && activities.length == 0 ? { 'margin-bottom': '26px' } : {}
        "
      ></app-secondary-button>
    </div>

    <div class="atividade-group">
      <label for="" class="form-label custom-label">Lista de atividades</label>
      <ul class="activities-list">
        @for (activity of activities; track $index) {
          <li (click)="removeActivity($index)" class="activities-list--item">
            <span>{{ activity }}</span>
            <i class="ph ph-x"></i>
          </li>
        }
      </ul>
    </div>

    <app-primary-button
      [disabled]="isNotValidForm()"
      textButton="Gerar certificado"
    ></app-primary-button>
  </fieldset>
</form>
