.navbar {
  background-color: white;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e2e8f0;
  padding-right: 28px;
  padding-left: 12px;
}

.navbar-logo--image {
  width: 40px;
}

.active {
  color: #3b5ac2;
}

.nav-item {
  color: #64748b;
}

.nav-item i {
  font-size: 20px;
}

.nav-link {
  cursor: pointer;
  font-weight: 600;
}

.nav-link.active {
  color: #3b5ac2;
}
